Package: ptt
Version: 1.0.15
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 2048
Maintainer: https://github.com/KubaBoi
Description: Test tool for ProgTests from CVUT FIT
