Package: ptt
Version: 0.5.20
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: https://github.com/KubaBoi
Description: Test tool for ProgTests from CVUT FIT
